body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Navigation */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  background-color: white;
}

#logo {
  font-size: 1.3em;
  color: #00cff6;
  padding: 10px 0;
}

.logo-wrapper {
  width: 100%;
}

.logo-wrapper a {
  text-decoration: none;
  display: block;
  text-align: center;
}
/*
.nav-wrapper {
  width: 100%;
  text-align: center;
}

.nav-wrapper ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.nav-wrapper ul li {
  display: inline;
}

.nav-wrapper ul li a {
  text-decoration: none;
  color: black;
}
*/
/* Main */
main {
  background-image: url("../img/hike.jpg");
  height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  text-align: center;
}

.main-content h1 {
  margin: 0;
  padding: 0 0 10px 0;
}

.main-content p {
  margin: 0;
  padding: 0 0 10px 0;
}

.main-content button {
  background-color: #00cff6; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.main-content button:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

/* About 

.about-content {
  text-align: center;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  background-color: #343a40;
  color: white;
}

.about-content h2 {
  margin: 0;
  padding: 0 0 10px 0;
}

.about-content p {
  margin: 0;
}
*/
/* Shop */
.shop-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30%;
  margin: 1.5%;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #00cff6;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/* Contact */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #00cff6;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
footer {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

footer ul li {
  padding: 10px 0;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

/* Contact Responsive */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    flex-direction: row;
    align-items: center;
  }

  .logo-wrapper {
    width: 50%;
    text-align: left;
  }

  .nav-wrapper {
    width: 50%;
  }

  main {
    height: 100vh;
  }

  .about-content {
    padding: 5% 33%;
  }

  .card {
    width: 33%.33;
  }
}
